.animate-blink {
  animation: blink 300ms infinite;
}

.glitch {
  animation: 5s ease 2000ms normal none infinite running glitch;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes glitch {
  30% {
  }
  40% {
    opacity: 1;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
  41% {
    opacity: 0.8;
    transform: scale(1, 1.1);
    transform: skew(4deg, 0);
  }
  42% {
    opacity: 0.8;
    transform: scale(1, 1.1);
    transform: skew(-3deg, 0);
  }
  43% {
    opacity: 1;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }

  65% {
  }
}

@keyframes line-move {
  50% {
    transform: translateY(100vh);
  }
}

.line-move {
  animation: line-move 30s linear infinite;
}
